
DIV.calculatrice  {
  background-color: #ffffff;  
}

.calculatrice .button{
box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #880505 5%, #6f0202 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  }
  .calculatricec.button:hover {
background:linear-gradient(to bottom, #8e2a06 5%, #de0f0c 100%);
	background-color:#ec4e04;
  }

 .calculatrice .button-number:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
  }

  .calculatrice .button-number {
box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  }

    .calculatrice .button-number2 {
box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #6e0fb1 5%, #4c0181 100%);
	background-color:#9043a7;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:floralwhite;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  }

  .calculatrice .result {
	background:linear-gradient(to bottom, #412d00 5%, #000 100%);
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
  	color:rgb(255, 255, 255);
	font-family:arial;
	font: size 20px;
	text-decoration:none;
font-weight:bold;
	padding:13px 32px;
  	text-shadow:0px 1px 0px #3d768a;
border:none;
  }

.glow-on-hover {
    width: 291px;
    height: 55px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: absolute;
    right:0;
    z-index: 0;
    border-radius: 10px;
    text-align: center;
    vertical-align:;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.temorary {
padding-top:18px;

}